{% extends "base.html" %}
{% import "bootstrap/form.html" as wtf %}

{% block app_content %}
{% if projects["auth"]%}
<h1>Registered Projects</h1>
<div class="card-group">
    <div class="container">
        {% for project in projects["auth"] %}
        {% include "projects/_project.html" %}
        {% endfor %}
    </div>
</div>
{% endif %}
<br>
{% if projects["public"]%}
<h1>Public Projects</h1>
<div class="card-group">
    <div class="container">
        {% for project in projects["public"] %}
        {% include "projects/_project.html" %}
        {% endfor %}
    </div>
</div>
{% endif %}
<br>
{% if projects["private"]%}
<h1>Private Projects</h1>
<div class="card-group">
    <div class="container">
        {% for project in projects["private"] %}
        {% include "projects/_project.html" %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}